.botao{
    background-color: var(--berkeley-blue);
    min-width: 110px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 32px 0;
    border: 2px solid var(--mint-green);
    margin-right: 10px;
}

.botao:hover{
    color: #95ffd4;
    border-color:#95ffd4 ;
}